@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
$bg-color: #FFFFFF;
$button-color: #00F3BB;
$button-hover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$text-color: #060A24;   
$gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$font-sans: 'IBM Plex Sans', sans-serif;
$font-mono: 'IBM Plex Mono', monospace;